@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Rowdies&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100%px;
  text-align: center;
  margin-inline: 10vw;
  background-color: #3312;
}
h1{
  font-family: 'Rowdies', cursive;
  margin: 2rem auto 3rem auto;
  text-align: center;
  font-size: 3rem;
}